a {
  display: inline-block;
  padding: 12px 24px;
  background-color: hsl(0, 81%, 58%);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #c30707;
}
body {
  height: 100vh;
  margin: 50;

  background: repeating-linear-gradient(
  45deg,
  #6beaf5 0px,
  #6beaf5 20px,
  #b9fbff 20px,
  #b9fbff 40px
);
}

html {
  scroll-behavior: smooth;
}

#nahoru {
  position: fixed;
  right: 20px;
  bottom: 20px;

  background-color: hsl(0, 81%, 58%);
  color: white;

  padding: 15px 20px;
  border-radius: 10px;

  text-decoration: none;
  font-weight: bold;
}

#nahoru:hover {
  background-color: #c30707;
}

h2 {
  text-decoration: underline;
    font-family: "Chelsea Market", system-ui;
}

p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.ukazka {
background-color: #eeeeee;

padding: 20px;

border-radius: 12px;

font-family: monospace;

white-space: pre-wrap;

margin: 20px 0;
}