a {
  display: inline-block;
  padding: 12px 24px;
  background-color: hsl(0, 81%, 58%);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #c30707;
}
body {
  background: repeating-linear-gradient(
  45deg,
  #6beaf5 0px,
  #6beaf5 20px,
  #66c9ce 20px,
  #66c9ce 40px
);
}

html {
  scroll-behavior: smooth;
}

#nahoru {
  position: fixed;
  right: 20px;
  bottom: 20px;

  background-color: hsl(0, 81%, 58%);
  color: white;

  padding: 15px 20px;
  border-radius: 10px;

  text-decoration: none;
  font-weight: bold;
}

#nahoru:hover {
  background-color: #c30707;
}