a {
  display: inline-block;
  padding: 12px 24px;
  background-color: hsl(0, 81%, 58%);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #c30707;
}
body {
  height: 100vh;
  margin: 0;

  background: repeating-linear-gradient(
  45deg,
  #6beaf5 0px,
  #6beaf5 20px,
  #66c9ce 20px,
  #66c9ce 40px
);
}

p{
    size: 80px
}